@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-podcast {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #1e293b;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    background-color: #1e293b;
}

.navbar li a {
    display: block;
    color: #f8fafc;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar li a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}


.site-footer {
    text-align: center;
    padding: 10px;
    background-color: #0f172a;
    color: #e2e8f0;
}