@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5f9;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #1e293b;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    background-color: #1e293b;
}

.navbar li a {
    display: block;
    color: #f8fafc;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar li a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-container h2 {
    margin-bottom: 30px;
    color: #1e293b;
}

.contact-form {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #334155;
}

.contact-form input,
.contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #000000;
    outline: none;
    transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
}

textarea {
    resize: both;
    height: 100px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

button[type="submit"] {
    background-color: #3b82f6;
    color: white;
}

button[type="submit"]:hover {
    background-color: #2563eb;
}

button.secondary {
    background-color: #e2e8f0;
}

button.secondary:hover {
    background-color: #cbd5e1;
}