@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container {
    flex: 1;
    padding: 40px;
}

h2 {
    color: #1e293b;
    margin-bottom: 15px;
}

h3 {
    color: #0f172a;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

thead {
    background-color: #1e293b;
    color: white;
}

th,
td {
    padding: 14px;
    text-align: center;
    border: 1px solid #e2e8f0;
}


.card-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.7s ease;
    border: 1px solid #e2e8f0;
}


.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 30px rgba(59, 130, 246, 0.2);
    border-color: #3b82f6;
}


.card ul {
    margin-left: 20px;
    margin-top: 10px;
}

.card ul li {
    margin-bottom: 5px;
}

.card ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #000000;
}

.site-footer {
    background-color: #0f172a;
    color: #e2e8f0;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.alerta {
    color: #dc2626;
    font-weight: 500;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: #1e293b;
    margin-bottom: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    background-color: #1e293b;
}

.navbar li a {
    display: block;
    color: #f8fafc;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar li a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}